<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings />
  <appSettings>
    <add key="SERVER" value="MURILO-PC"/>
    <add key="DATABASE" value="aviv_eleicao"/>
    <add key="USER" value="sa"/>
    <add key="PASSWORD" value="sql123"/>
  </appSettings>
</configuration>